root = true #arquivo inicial e global do editorconfig

[*] #para todos os tipos de arquivos:
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true #remove espacos em branco ao fim da linha
insert_final_newline = true
